@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sp-gf {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.client-logo-area .section-title-two {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .client-logo-area .section-title-two {
        margin-bottom: 45px;
    }
}
@media (max-width: 768px) {
    .client-logo-area .section-title-two {
        margin-bottom: 35px;
    }
}
.client-logo-area .section-title-two span {
    text-transform: capitalize;
    color: var(--white);
    background: var(--primary);
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 15px;
    border-radius: 4px;
}
.client-logo-area .section-title-two h2 {
    margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .client-logo-area .section-title-two h2 {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}
@media (max-width: 768px) {
    .client-logo-area .section-title-two h2 {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }
}
.client-logo-area .section-title-two p {
    color: var(--dark-3);
}
.client-logo-one {
    padding-top: 100px;
    padding-bottom: 100px;
}
.client-logo-one .single-client {
    margin-top: 30px;
}
.single-client {
    padding-top: 30px;
}
.h-100 {
    max-width: 360px;
}
@media (min-width: 1400px) {
    .card-neg-left {
        margin-right: -30px;
    }
    .card-neg-right {
        margin-left: -30px;
    }
    .card-neg-adjust {
        padding-left: 60px;
    }
    .card-neg-right-2 {
        margin-left: -15px;
    }
    .card-neg-left-2 {
        margin-right: -15px;
    }
    .card-neg-adjust-2 {
        padding-left: 35px;
    }
}
@media (min-width: 992px) {
    .navbar-brand {
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .search-width-adjust {
        max-width: 342px;
    }
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    color: white;
    background-color: rgb(50, 50, 50);
}
#featured-3 {
    padding: 50px 0;
}
#featured-3 a, .a-partner a {
    font-weight: bold;
    color: rgb(50, 50, 50);
    text-decoration: none;
}
#featured-3 a:hover, .a-partner a:hover {
    font-weight: bold;
    color: rgb(100, 100, 100);
    text-decoration: underline;
}
.a-underline a {
    text-decoration: none;
}
.a-underline a:hover {
    text-decoration: underline;
}
.uc-icons {
    font-size: 1.5em;
}
.uc-h4 {
    padding-bottom: 20px;
}
/* FAQ Accordion Styles */
.list-group-item {
    transition: background-color 0.2s ease;
}
.list-group-item:hover {
    background-color: #f8f9fa;
}
.list-group-item .d-flex[data-bs-toggle="collapse"] {
    transition: background-color 0.2s ease;
}
.list-group-item .d-flex[data-bs-toggle="collapse"] .bi-chevron-down {
    transition: transform 0.3s ease;
}
.list-group-item .d-flex[data-bs-toggle="collapse"][aria-expanded="true"] .bi-chevron-down {
    transform: rotate(180deg);
}
.list-group-item .collapse {
    transition: height 0.35s ease;
}
/* Style FAQ links to match Use Cases section */
.list-group-item .collapse a {
    font-weight: bold;
    color: rgb(50, 50, 50);
    text-decoration: none;
}
.list-group-item .collapse a:hover {
    font-weight: bold;
    color: rgb(100, 100, 100);
    text-decoration: underline;
}
.list-group-item h5 {
    font-weight: 600;
}

.hnsb-button {
    opacity: 0.5;
    font-size: small;
}

@media (max-width: 768px) {
    .footer-logo {
        display: none;
    }
    #footer-contact-title {
        display: none;
    }
}